<div class='container mx-auto py-8'>
  <ul role='list' class='grid grid-cols-5 gap-x-6 gap-y-4' >
    <% @properties.each do |property| %>
      <li class='relative' >
        <div>
          <div class='group block w-full aspect-w-10 aspect-h-7 rounded-lg overflow-hidden' >
            <img src='https://images.unsplash.com/photo-1517180102446-f3ece451e9d8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D' alt='' class='object-cover pointer-events-none group-hover:opacity-75' >
            <button type='button' class='absolute inset-0 focus:outline-none' >
              <span class='sr-only' >View details for IMG</span>
            </button>
          </div>
          <p class='mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none group-hover:text-gray-700' >
            <span class='pointer-events-none' ><p class='font-bold'><%= property.name %></p></span>
          </p>
          <p class='block text-sm font-medium text-gray-500 pointer-events-none group-hover:text-gray-700' >
            <%= property.city %>, <%= property.state %> - <%= property.country %>
          </p>
          <p class='block text-sm font-medium text-gray-500 pointer-events-none group-hover:text-gray-700' >
            Muitos Km away
          </p>
          <p class='block text-sm font-medium text-gray-500 pointer-events-none group-hover:text-gray-700' >
            Jan 18 - Fev 3
          </p>
          <p class='block text-sm font-medium text-gray-500 pointer-events-none group-hover:text-gray-700' >
            Muitos caro USD
          </p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
